.feynman__title {
  width: 648px;
  margin: 0;
  padding: 0;
  align-self: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
  z-index: 1;
  text-align: center;
}
