.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  color: #1e035e;
  opacity: 0.7;
  transition: color 1s linear 2s;
}

